{%extends 'main/layout.html'%}

{% block title %}О Нас{% endblock %}

{% block content %}
    <div class="container">
        <h1><marquee>О Нас</marquee></h1>
        <p><marquee direction="right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, corporis culpa, delectus dolorem est in incidunt magnam maiores molestiae, nam neque optio quasi repellat reprehenderit tempore temporibus ullam unde voluptates!</marquee></p>
    </div>
    {%include "main/test.html"%}
{% endblock %}